body{
	font-family: 'Open Sans',sans-serif;
	background: linear-gradient(-45deg,#000000,#242424,#424242,#5c5c5c);
	background-size: 400% 400%;
	animation: gradient 40s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
button{
	color: #ffffff;
	background-color: 	#424242;
	border-radius: 10px;
	box-shadow: 0 5px 10px black;
}
.panda{
	background-color: #5a5a5a;
	padding:10px;
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	border-radius: 7px;
	box-shadow: 0 5px 10px black;
}
.teddy{
	background-color: #5a5a5a;
	margin-top: 50px;
	padding:10px;
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	border-radius: 7px;
	box-shadow: 0 5px 10px black;

}
.pigeon{
	background-color: #5a5a5a;
	margin-top: 50px;
	padding:10px;
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	border-radius: 7px;
	box-shadow: 0 5px 10px black;

}
.camel{
	background-color: #5a5a5a;
	margin-top: 50px;
	padding:10px;
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	border-radius: 7px;
	box-shadow: 0 5px 10px black;

}
.chameleon{
	background-color: #5a5a5a;
	margin-top: 50px;
	padding:10px;
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	border-radius: 7px;
	box-shadow: 0 5px 10px black;

}
.cicada{
	background-color: #5a5a5a;
	margin-top: 50px;
	padding:10px;
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	border-radius: 7px;
	box-shadow: 0 5px 10px black;

}
h1{
	text-align: center;
	color: #808080;
}
.footer{
	background-color: #5a5a5a;
	margin-top: 50px;
	padding:10px;
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
	box-shadow: 0 5px 10px black;
}
a:active{
	color: #292929;
	border-style: dotted;
	text-shadow: 0 10px 15px black;
}
a:visited{
	color:  #292929;
	text-shadow: 0 10px 15px black;
}
.trans{
    animation: transaction1 3s;
}

@keyframes transaction1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header{
	display: flex;
	justify-content: space-between;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: rgb(32, 32, 32);
	margin-top: 0px;
	margin-bottom: 100px;
	opacity: 0.7;
	box-shadow: 0 5px 10px black;
	text-shadow: 0 10px 15px black;
	border-radius: 7px;
}
.header a{
	color: #ffffff;
	text-shadow: 0 10px 15px black;
	padding-top: 20px;
}
